// Color Variables
$news-primary-color:#202124

$light_gray_100: #BBBCBD
$light_gray_200: #D9D9D9
$light_gray_300: #BBBCBD
$light_gray_400: #BDC1C6
$light_gray_500: #EFEFEF

$dark_100:#3C4043
$dark_200:#292A2D
$dark_300: #1F1F1F
$dark_400: #616161

$blue_100: #8AB4F8
$blue_200: #A8C7FA

$primary-color: #3498db
$secondary-color: #2ecc71
$background-color: #ecf0f1
$text-color: #2A2A2A

// Font Variables
$font-family-primary: "DM Sans", serif
$font-family-secondary: "Sansita", serif
$font-family-tertiary: 'Nunito Sans', sans-serif
$font-size-base: 16px
$font-size-large: 20px
$font-size-small: 12px

// Spacing Variables
$spacing-unit: 8px
$padding-base: $spacing-unit * 2
$margin-base: $spacing-unit * 2

// Border Variables
$border-radius: 4px
$border-color: #bdc3c7

// Layout Variables
$gutter: 1200px